
.navbar {
    background: rgb(211, 233, 252);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
 

}

li{
    list-style-type: none;
    color: rgb(34, 27, 27);
    border-radius: 10px;
    width: 250px;
    text-align: center;
    font-size: 1.5rem; 
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}
li:hover {
    background: rgb(34, 27, 27);
    color: cornsilk;
    
}
.logo{
    width: 150px;
    
}
.slide {
    position: relative;
}
.btinscription {
    position: absolute;
    top: 500px;
    left: 550px;
    font-size: 2.5rem;
    border-radius: 10px;
    border: none;
    /* box-shadow: 1px 1px 5px cornsilk ; */
 
    box-shadow: 1px 1px 5px 5px rgba(255, 248, 220, 0.616);
    background: rgb(58, 98, 107);
    color: cornsilk;
    padding: 10px;
    transition: 0.5 ease-in-out;
}
.btinscription:hover {
    transform: scale(1.1);
}
.imagebg{
    height: 600px;
    width: 100%;
}
footer {
    background: rgb(211, 233, 252);
    height: 300px;
}
.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.titre {
    text-align: center;
    font-size: 2rem;
    margin: 5px;
    padding: 5px;
}
.adresse{
    font-size: 1.3rem;
}
.phone {
    font-size: 1.3rem;
}
.facebook{
    font-size: 1.3rem;

}