* {
  margin: 0;
  padding: 0;
}

.btAccueil {
  position: absolute;
  top: 70%;
  left: 42%;
  /*transform: translate(-50%, -50%);*/
  font-size: 2.5rem;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 5px 5px rgba(255, 248, 220, 0.616);
  background: rgb(58, 98, 107);
  color: cornsilk;
  padding: 10px;
  transition: 0.5 ease-in-out;
}
.btAccueil:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.bgAccueil {
  height: 700px;
  width: 100%;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 0, auto;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #c060c4;
  color: rgb(255, 255, 255);
}
