@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oswald:wght@300;400&display=swap');

body {
  background: cornsilk;
  margin: 0;
  padding: 0;
  /* background: url(/media/img-infos.jpg)center/cover; */
  
}

.deroulement {
  margin-left: auto;
  margin-right: auto;
  width: 90%; 
}
.deroulement p {
  font-family: 'Oswald', sans-serif;
  margin: 20px;
  font-size: 1.1rem; 
}

.deroulement h3 {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  margin: 20px;
  background: skyblue;
  border-radius: 10px;
  height: 50px;
  
}
