.wrapper {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "one three"
    "two three";
  justify-items: stretch;
}
.one {
  /* grid-column: 1;
  grid-row: 1; */
  grid-area: one;
  background-color: seagreen;
}
.two {
  /* grid-column: 2;
  grid-row: 1 / 2; */
  grid-area: three;
  background-color: sienna;
}
.three {
  /* grid-column: 1;
  grid-row: 2; */
  grid-area: two;
  background-color: steelblue;
}

.one,
.two,
.three {
  text-align: center;
}
