
/*.btInscription {
    position: absolute;
    top: 40%;
    left: 50%;
    /* transform: translate(-50%, -50%);  
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px 5px rgba(255, 248, 220, 0.616);
    background: rgb(58, 98, 107);
    color: cornsilk;
    padding: 10px;
}
.btInscription:hover{
    transform: scale(1.03);
    cursor: pointer;
}*/
